@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url(Styles/navbar.css);
@import url(Styles/vehiculos.css);
@import url(Styles/registro.css);
@import url(Styles/cargar_datos.css);
@import url(Styles/usuarios.css);
@import url(Styles/botones_entradas.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white: #fff;
    --oscuro: #253D24;
    --titulos: "Poetsen One", sans-serif;
    --claro: #54DC3F;
    --negro: black;
    --oscuro2: #1C5D17;
    --letras: "Poppins", sans-serif;
    --gris: #f3f2f2;
    --clarito: #AFF4A2;
    --gris_cambio: #ddd;
    --oscuro3: #052702;
    --clarote: #1D7615;
    --letra_tablas: "Montserrat", sans-serif;
    --oscuro4: #1B4F18;
    --clarito2: #35C121;
    --border: 10px;
}
button{
    border: none;
}
.Pag_inicio {
    height: 100vh;
    background-color: var(--oscuro);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.Pag__title h1 {
    color: var(--white);
    font-family: var(--titulos);
    font-weight: 50;  
}
.Pag_inicio .Pag__container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Pag__container  {
    width: 40vw;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    /* margin-right: 200px; */
}
.logo__container img{
    width: auto;
}
.Pag_inicio .Pag__container .botones__container {
    display: flex;
    gap: 100px;
}
.Pag_inicio .Pag__container .botones__container button {
    background-color: var(--claro);
    padding: 15px 40px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 200px;
    border: 2px solid var(--white);
}
.Pag_inicio .Pag__container .botones__container button a {
    text-decoration: none;
    color: var(--negro);
}

/*LOGEO*/
hr{
    width: 300px;
    margin-top: 5px;
    margin-top: 10px;
}
.form__login{
    width: 400px;
    height: 350px;
    background-color: var(--gris);
    margin: auto;
    margin-top: 120px;
    padding: 50px 50px;
    font-family: var(--letras); 
}
.form__login .form__subtitulos .subs__text h3{
    margin-bottom: 10px;
}
.form__login .form__subtitulos .subs__text input{
    height: 30px;
    width: 300px;
}
.form__login .form__subtitulos .button{
    margin-top: 50px;
    margin-left: 100px
}
.form__login .form__subtitulos .button button a{
    padding: 5px 10px;
    text-transform: uppercase;
    font-family: var(--letras); 
    font-size: 15px;
    background-color: var(--oscuro2);
    color: var(--white);
    text-decoration: none;
}

/*VEHICULOS*/
a{
    text-decoration: none;
    color: var(--negro);
}
.boton__ingresar__nuevo button a{
    color: var(--white);
    text-decoration: none;
}
i{
    color: var(--negro);
    margin-right: 10px;
}
.tabla__datos__vehiculo table{
    margin-top: 50px;
    margin-left: 210px;
    width: 78%;
    border-collapse: collapse;
    border: 1px solid var(--oscuro3);
    font-size: 20px;
    font-family: var(--letra_tablas);

}
.tabla__datos__vehiculo table td {
    padding: 8px;
    border: 1px solid var(--oscuro3);
    text-align: center;
    font-family: var(--letra_tablas);
    font-weight: 450;
    color: var(--negro);
}
/* .boton_cargar .cargar_datos{
    background-color: var(--white);
    padding: 3px 20px;
    font-family: var(--letras); 
    font-weight: 400;
    font-size: 18px;
    border: 2.5px solid var(--gris_cambio);
    border-radius: 5px;
    margin-left: 120px;
    margin-top: 60px;
}
.boton_cargar .cargar_datos a{
    color: var(--clarote);
} */

/* VEHICULOS NUEVOS */
.ingreso h1{
    font-family: var(--titulos);
    text-align: center;
    margin: 30px;
    font-weight: 100;
    font-size: 22px;
    color: var(--oscuro4);
}
.ingreso .formulario_veh{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}
.ingreso .formulario_veh .formulario_left label{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.ingreso .formulario_veh .formulario_left input{
    width: 250px;
    height: 30px;
    margin-left: 20px;
    margin-bottom: 60px;
}
.ingreso .formulario_veh .left .formulario_left{
    margin-top: 15px;
    font-family: var(--letras);
    margin-right: 50px;
}
.ingreso .formulario_veh .left .formulario_left .combo_carros{
    width: 150px;
    height: 40px;
    font-family: var(--letra_tablas);
    padding: 10px;
    font-size: 15px;
    margin-left: 20px
}
.ingreso .formulario_veh .formulario_rigth label{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.ingreso .formulario_veh .formulario_rigth input{
    width: 250px;
    height: 30px;
    margin-left: 20px;
    margin-bottom: 60px;
}
.ingreso .formulario_veh .rigth .formulario_rigth{
    margin-top: 15px;
    font-family: var(--letras);
    margin-right: 50px;
}
hr{
    margin-bottom: 30px;
}
.boton_guardar button{
    background-color: var(--gris);
    padding: 3px 20px;
    font-family: var(--letras); 
    font-weight: 400;
    font-size: 18px;
    border: 2.5px solid var(--gris_cambio);
    border-radius: var(--border);
    margin-left: 600px;
}

@media (max-width: 760px) {
    body{
        background-color: red;   
    }
    .Pag__container {
        width: 100%;
    }   
    .logo__container{

        width: auto;
    }
    .logo__container img{
        width: 100%;
    }
    .botones__container{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .Pag_inicio .Pag__container .botones__container {
        gap: 50px;
    }
    .Pag_inicio .Pag__container .botones__container button {
        padding: 10px 30px;
    }
    .botones__container .boton_vehiculo{
        margin-left: 40px;
    }
    .tabla_datos_vehiculo table{
        width: 75%;
        margin-left: 55px;
    }
    .boton_ingresar_nuevo button {
        margin-left: 55px;
    }
    .boton_cargar .cargar_datos{
        margin-left: 55px;
    }
    .boton_guardar button{
        margin-left: 420px;
    }
    .formulario_left{
        margin-left: 35px;
    }
    .boton_guardar button{
        margin-left: 320px;
        margin-bottom: 30px;
    }
}

/* REGISTRO ENTRADA */
a {
    text-decoration: none;
    color: var(--negro);
    font-family: var(--letras);
    font-weight: 450;
    padding: 2px;
}

/* .botones_registros {
    display: flex;
    align-items: center;
    margin-top: 80px;
    padding: 0 20px;
    margin-left: 140px;
}
.botones_registros .input_busqueda{
    width: 150px;
    height: 30px;
    margin-left: 750px;
}
.botones_registros button {
    background-color: var(--clarote);
    padding: 10px 50px;
    margin-left: 50px;
}
.botones_registros button a {
    color: var(--white);
    font-size: 1.2rem;
} */
.combo .combo_busqueda {
    width: 150px;
    height: 40px;
    font-family: var(--letra_tablas);
    padding: 10px;
    font-size: 15px;
    margin-left: 30px;
}

/* ENTRADA */
.entrada_ingreso {
    display: inline-flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: var(--gris_cambio);
    margin: 200px 0px 0px 650px;
    width: 600px;
    border-radius: 35px;
    padding: 50px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}
.entrada_ingreso label {
    font-family: var(--letras);
    font-size: 18px;
    padding: 10px 0; 
}
.entrada_ingreso input {
    font-family: var(--letras);
    padding: 10px;
    font-size: 15px;
    border-radius: var(--border);
    border: none;  
    margin-bottom: 20px; 
}
.entrada_ingreso input:focus {
    outline: none;
}
.boton_cargar .entrada_datos{
    background-color: var(--white);
    padding: 3px 20px;
    font-family: var(--letras); 
    font-weight: 400;
    font-size: 18px;
    border: 2.5px solid var(--gris_cambio);
    border-radius: var(--border);
    margin-left: 650px;
    margin-top: 60px;
}

/* SALIDA */
.salida_ingreso{
    display: flex;
    justify-content: space-around;
    margin: 150px;
}
.salida_ingreso label{
    font-family: var(--letras);
    font-size: 15px; 
}
.salida_ingreso input{
    font-family: var(--letras);
    font-size: 15px;
}


@media (max-width: 500px) {
    body{
        background-color: blue;
    }
    .Pag_inicio{
        height: 765px;
        width: 100%;
    }
    .logo__container{
        width: 100%;
    }
    .Pag__title h1 {
        font-weight: 300;
        font-size: 23px; 
        text-align: center;
    }
    .Pag_inicio .Pag__container {
        display: flex;
        flex-direction: column;
    }
    .Pag_inicio .Pag__container .logo__container img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        margin-left: 170px;
    }
    .Pag_inicio .Pag__container .botones__container {
        gap: 40px;
        margin-top: 150px;
    }
    .Pag_inicio .Pag__container .botones__container button {
        padding: 5px 10px;
    }
    .logeo .logeo__nav .Pag__container .Pag__title h1 {
        font-size: 15px;
    }
    .logeo .logeo__nav .Pag__container .boton__logeo {
        padding: 15px;
    }
    .botones_top .boton_rgistro_usuarios{
        margin-right: 9px;
    }
    .botones_top button {
        font-size: 15px;
        margin-left: 5px;
        gap: 20px;
    }
    .formulario_left{
        font-size: 15px;
    }
    .ingreso .formulario_veh .formulario_left input{
        width: 130px;
        height: 20px;
    }
    .formulario_rigth{
        font-size: 15px;
    }
    .ingreso .formulario_veh .formulario_rigth input{
        width: 130px;
        height: 20px;
    }
    .ingreso .formulario_veh .left .formulario_left .combo_carros{
        width: 150px;
        height: 40px;
        font-size: 15px;
        margin-bottom: 40px;
    }
    .boton_guardar button{
        margin-top: 30px;
        margin-left: 200px;
    }
    .input_busqueda{
        background-color: green;
    }
    /* .combo{
        background-color: pink;

    } */
    .combo .combo_busqueda {
        width: 150px;
        height: 40px;
        font-family: var(--letra_tablas);
        padding: 10px;
        font-size: 15px;
        /* margin-left: 30px; */
        /* background-color: red; */
    }
}