@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(Styles/navbar.css);
@import url(Styles/vehiculos.css);
@import url(Styles/registro.css);
@import url(Styles/cargar_datos.css);
@import url(Styles/usuarios.css);
@import url(Styles/botones_entradas.css);
@import url(Styles/root.css);
@import url(Styles/siderbar.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input:focus{
  outline: none;
}
.error{
    border: solid 1px red;
}
.correcto{
    border: solid 1px blue;
}
.Pag_inicio {
    height: 100vh;
    background-color: var(--oscuro);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.Pag__title h1 {
    color: var(--white);
    font-family: var(--letras);
    font-weight: 500;  
}
.Pag_inicio .Pag__container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Pag__container  {
    width: 40vw;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}
.botones__container a {
    display: inline-block;
    margin: 30px;
    padding: 10px;
    width: 200px;
    background-color: var(--claro);
    border-radius: var(--border);
    font-size: 16px;
    font-family: var(--letras);
}
.botones__container a i {
    transition: 1s; 
}
.botones__container a:hover {
    transition: 1s;
    background-color: var(--clarote);
    color: var(--white);
}
.botones__container a:hover i {
    color: var(--white); 
}

/*VEHICULOS*/
.boton__ingresar__nuevo  a{
    color: var(--white);
    text-decoration: none;
}
i{
    color: var(--negro);
    margin-right: 10px;
}
table{
    margin: 0 auto;
    border: 1px solid var(--oscuro4);
}
th{
    padding: 30px 30px ;
    border: 1px solid var(--claro) ;
    font-family: var(--letras);
}
td{
    padding: 20px 20px ;
    border: 1px solid var(--claro);
    font-family: var(--letras);
}
.boton_eliminar{
    margin: 30px;
    padding: 10px;
    width: 100px;
    background-color: red;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    font-family: var(--letras);
}
.boton_eliminar:hover{
    transition: 1s;
    background-color: brown;
    color: var(--white);
}
.boton_salida{
    background-color: var(--claro);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    font-family: var(--letras);
    margin: 30px;
    padding: 10px;
    width: 100px;
}
.boton_modificar_u{
    margin: 30px;
    padding: 10px;
    width: 100px;
    background-color: var(--claro);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: var(--negro);
    font-family: var(--letras);
}
.boton_modificar_u:hover{
    transition: 1s;
    background-color: var(--clarote);
    color: var(--white);
}
.botones__registros {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.boton__ingresar__nuevo  {
    display: flex;
    width: 100%;
}
.boton__ingresar__nuevo a {
    margin-right: auto;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 35px;
    margin-bottom: 30px;
}

/* VEHICULOS NUEVOS */
.ingreso h1{
    font-family: var(--letras);
    text-align: center;
    margin: 30px;
    font-weight: 800;
    font-size: 22px;
    color: var(--oscuro4);
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

form > label{
    padding: 10px;
}

form > input{
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 2px solid var(--claro);
    font-family: var(--letras);
}

form > input:focus{
    outline: none;
}

select{
    padding: 10px;
    width: 300px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 2px solid var(--claro);
    font-family: var(--letras);
}
.boton{
    display: flex;
    justify-content: center;
    margin: 30px;
    padding: 10px;
    width: 300px;
    background-color: var(--claro);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-family: var(--letras);
}
.boton:hover{
    transition: 1s;
    background-color: var(--clarote);
    color: var(--white);
}

.combo_carros{
    width: 150px;
    height: 40px;
    font-family: var(--letra_tablas);
    padding: 10px;
    font-size: 15px;
    margin-left: 20px;
    border-radius: var(--border);
}
.formulario_rigth{
    margin-top: 15px;
    font-family: var(--letras);
    margin-left: 150px;
}
.formulario_rigth label{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: var(--clarote);
}
.formulario_rigth input{
    width: 250px;
    height: 30px;
    margin-left: 20px;
    margin-bottom: 60px;
    border-radius: var(--border);
}
hr{
    margin-bottom: 30px;
}

/* REGISTRO ENTRADA */
a{
    text-decoration: none;
    color: var(--negro);
    font-family: var(--letra_tablas);
    font-weight: 450;
    padding: 2px;
}
.combo_busqueda {
    width: 150px;
    height: 40px;
    font-family: var(--letras);
    padding: 10px;
    font-size: 13px;
    margin-left: 30px;
    border: solid 1px black;
}
/*ENTRADA*/
.label_registros{
    font-size: 14px;
    font-family: var(--letras);
}
/* SALIDA */
.salida_ingreso{
    display: inline-flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: var(--gris_cambio);
    margin: 200px 0px 0px 650px;
    width: 600px;
    border-radius: 35px;
    padding: 50px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}
.salida_ingreso label{
    font-family: var(--letras);
    font-size: 18px;
    padding: 10px 0; 
}
.salida_ingreso input{
    font-family: var(--letras);
    padding: 10px;
    font-size: 15px;
    border-radius: var(--border);
    border: none;  
    margin-bottom: 20px;
}
.salida_ingreso input:focus{
  outline: none;
}

.boton_modificar{
    height: 40px;  
    font-family: var(--letra_tablas);
    font-size: 15px;
    background-color: var(--white);
    border-radius: var(--border);
    border: solid 1px var(--negro); 
    margin-top: 25px;
    padding: 3px 20px;
    margin-left: 105px;
}
.boton_modificar a{
    color: var(--clarote);
}

/*MEDIA QUERY 500*/
@media (max-width: 500px) {
    .Pag__title h1 {
        font-size: 24px;
    }

    .Pag__container {
        flex-direction: column;
        width: 90vw;
    }

    .botones__container a {
        width: 100px;
        margin: 15px;
        padding: 6px;
        font-size: 14px;
    }
    .boton__ingresar__nuevo button {
        width: 90%;
        font-size: 16px;
        margin-top: 10px;
    }

    .menu_hamburguesa {
        display: block;
    }

    /* Ocultar los botones originales cuando el menú hamburguesa esté visible */
    .botones__top {
        display: none;
    }
    table{
        width: 50px;
    }
}

/*MEDIA QUERY 700*/
@media (max-width: 700px) {
    .Pag__container {
        flex-direction: column;
        width: 80vw;
    }

    .botones__container a {
        width: 150px;
        margin: 20px;
        padding: 8px;
    }
    .boton__ingresar__nuevo button {
        width: 90%;
        font-size: 16px;
        margin-top: 10px;
    }

    .menu_hamburguesa {
        display: block;
    }

    /* Ocultar los botones originales cuando el menú hamburguesa esté visible */
    .botones__top {
        display: none;
    }
    table{
        width: 50px;
    }

}