@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(Styles/navbar.css);
@import url(Styles/vehiculos.css);
@import url(Styles/registro.css);
@import url(Styles/cargar_datos.css);
@import url(Styles/usuarios.css);
@import url(Styles/botones_entradas.css);
@import url(Styles/root.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input:focus{
  outline: none;
}
.error{
    border: solid 1px red;
}
.correcto{
    border: solid 1px blue;
}
.Pag_inicio {
    height: 100vh;
    background-color: var(--oscuro);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.Pag__title h1 {
    color: var(--white);
    font-family: var(--letras);
    font-weight: 500;  
}
.Pag_inicio .Pag__container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Pag__container  {
    width: 40vw;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}
.botones__container a {
    display: inline-block;
    margin: 30px;
    padding: 10px;
    width: 200px;
    background-color: var(--claro);
    border-radius: var(--border);
    font-size: 16px;
    font-family: var(--letras);
}
.botones__container a i {
    transition: 1s; 
}
.botones__container a:hover {
    transition: 1s;
    background-color: var(--clarote);
    color: var(--white);
}
.botones__container a:hover i {
    color: var(--white); 
}

/*VEHICULOS*/
.boton__ingresar__nuevo  a{
    color: var(--white);
    text-decoration: none;
}
i{
    color: var(--negro);
    margin-right: 10px;
}
table{
    margin: 0 auto;
    border: 1px solid var(--oscuro4);
}
th{
    padding: 30px 30px ;
    border: 1px solid var(--claro) ;
    font-family: var(--letras);
}
td{
    padding: 20px 20px ;
    border: 1px solid var(--claro);
    font-family: var(--letras);
}
.boton_eliminar{
    margin: 30px;
    padding: 10px;
    width: 100px;
    background-color: red;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    font-family: var(--letras);
}
.botones__registros {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.boton__ingresar__nuevo  {
    display: flex;
    width: 100%;
}
.boton__ingresar__nuevo a {
    margin-right: auto;
}
.right_elements{
    padding: auto 0;
    margin-right: 195px;
}
.right_elements .input_busqueda {
    width: 150px;
    height: 30px;
}
.right_elements a{
    height: 40px;  
    font-family: var(--letras);
    margin-left: 30px;
    background-color: var(--white);
    border: solid 1px var(--negro);
    color: var(--clarote);
    font-size: 17px;
}

/* VEHICULOS NUEVOS */
.ingreso h1{
    font-family: var(--letras);
    text-align: center;
    margin: 30px;
    font-weight: 800;
    font-size: 22px;
    color: var(--oscuro4);
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

form > label{
    padding: 10px;
}

form > input{
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 2px solid var(--claro);
    font-family: var(--letras);
}

form > input:focus{
    outline: none;
}

select{
    padding: 10px;
    width: 300px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 2px solid var(--claro);
    font-family: var(--letras);
}
.boton{
    display: flex;
    justify-content: center;
    margin: 30px;
    padding: 10px;
    width: 300px;
    background-color: var(--claro);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-family: var(--letras);
}
.boton:hover{
    transition: 1s;
    background-color: var(--clarote);
    color: var(--white);
}

.combo_carros{
    width: 150px;
    height: 40px;
    font-family: var(--letra_tablas);
    padding: 10px;
    font-size: 15px;
    margin-left: 20px;
    border-radius: var(--border);
}
.formulario_rigth{
    margin-top: 15px;
    font-family: var(--letras);
    margin-left: 150px;
}
.formulario_rigth label{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: var(--clarote);
}
.formulario_rigth input{
    width: 250px;
    height: 30px;
    margin-left: 20px;
    margin-bottom: 60px;
    border-radius: var(--border);
}
hr{
    margin-bottom: 30px;
}
/* @media (max-width: 760px) {
    body{
        background-color: red;   
    }
    .Pag__container {
        width: 100%;
    }   
    .logo__container{

        width: auto;
    }
    .logo__container img{
        width: 100%;
    }
    .botones__container{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .Pag_inicio .Pag__container .botones__container {
        gap: 50px;
    }
    .Pag_inicio .Pag__container .botones__container button {
        padding: 10px 30px;
    }
    .botones__container .boton_vehiculo{
        margin-left: 40px;
    }
    .tabla_datos_vehiculo table{
        width: 75%;
        margin-left: 55px;
    }
    .boton_ingresar_nuevo button {
        margin-left: 55px;
    }
    .boton_cargar .cargar_datos{
        margin-left: 55px;
    }
    .boton_guardar button{
        margin-left: 420px;
    }
    .formulario_left{
        margin-left: 35px;
    }
    .boton_guardar button{
        margin-left: 320px;
        margin-bottom: 30px;
    }
} */

/* REGISTRO ENTRADA */
a{
    text-decoration: none;
    color: var(--negro);
    font-family: var(--letra_tablas);
    font-weight: 450;
    padding: 2px;
}
.combo_busqueda {
    width: 150px;
    height: 40px;
    font-family: var(--letras);
    padding: 10px;
    font-size: 13px;
    margin-left: 30px;
    border: solid 1px black;
}
/*ENTRADA*/
.label_registros{
    font-size: 14px;
    font-family: var(--letras);
}
/* SALIDA */
.salida_ingreso{
    display: inline-flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: var(--gris_cambio);
    margin: 200px 0px 0px 650px;
    width: 600px;
    border-radius: 35px;
    padding: 50px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}
.salida_ingreso label{
    font-family: var(--letras);
    font-size: 18px;
    padding: 10px 0; 
}
.salida_ingreso input{
    font-family: var(--letras);
    padding: 10px;
    font-size: 15px;
    border-radius: var(--border);
    border: none;  
    margin-bottom: 20px;
}
.salida_ingreso input:focus{
  outline: none;
}

/* USUARIO NUEVO */
.nuevo_usuario {
    display: flex;
    align-items: center;
    justify-content: space-between; 
} 
.nuevo_usuario .bt_nuevo_usuario {
    background-color: var(--clarote);
    padding: 3px 20px;
    font-family: var(--letras); 
    font-weight: 400;
    font-size: 18px;
    border: 2.5px solid transparent;
    border-radius: var(--border);
    margin-left: 215px;
    margin-top: 60px;
} 
.nuevo_usuario .bt_nuevo_usuario a {
    color: var(--white);
} 
.filtro {
    display: flex;
    align-items: center;
    gap: 30px;
} 
.input_busqueda_usuarios {
    width: 150px;
    height: 30px;
} 
.busqueda {
    height: 40px;  
    font-family: var(--letra_tablas);
    font-size: 15px;
    background-color: var(--white);
    border-radius: var(--border);
    border: solid 1px var(--negro); 
    margin-right: 215px;
}
.busqueda a {
    color: var(--clarote);
    padding: 65px;
}
.modificaciones {
    display: flex;
    flex-wrap: wrap; 
    gap: 60px   ; 
    margin-left: 215px;
    margin-top: 30px;
} 
.campo {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}
.campo label {
    margin-bottom: 5px; 
    font-family: var(--letras);
}
.campo input {
    width: 122px; 
    padding: 8px; 
    box-sizing: border-box; 
}
.boton_modificar{
    height: 40px;  
    font-family: var(--letra_tablas);
    font-size: 15px;
    background-color: var(--white);
    border-radius: var(--border);
    border: solid 1px var(--negro); 
    margin-top: 25px;
    padding: 3px 20px;
    margin-left: 105px;
}
.boton_modificar a{
    color: var(--clarote);
}
.boton_ingresar{
    background-color: var(--white);
    padding: 3px 20px;
    font-family: var(--letras); 
    font-weight: 400;
    font-size: 18px;
    border: 2.5px solid var(--gris_cambio);
    border-radius: var(--border);
    margin-left: 55rem;
    width: 120px;
}
.boton_ingresar a{
    font-size: 15px;
    color: var(--clarote);
}
/* @media (max-width: 500px) {
    body{
        background-color: blue;
    }
    .Pag_inicio{
        height: 765px;
        width: 100%;
    }
    .logo__container{
        width: 100%;
    }
    .Pag__title h1 {
        font-weight: 300;
        font-size: 23px; 
        text-align: center;
    }
    .Pag_inicio .Pag__container {
        display: flex;
        flex-direction: column;
    }
    .Pag_inicio .Pag__container .logo__container img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        margin-left: 170px;
    }
    .Pag_inicio .Pag__container .botones__container {
        gap: 40px;
        margin-top: 150px;
    }
    .Pag_inicio .Pag__container .botones__container button {
        padding: 5px 10px;
    }
    .logeo .logeo__nav .Pag__container .Pag__title h1 {
        font-size: 15px;
    }
    .logeo .logeo__nav .Pag__container .boton__logeo {
        padding: 15px;
    }
    .botones_top .boton_rgistro_usuarios{
        margin-right: 9px;
    }
    .botones_top button {
        font-size: 15px;
        margin-left: 5px;
        gap: 20px;
    }
    .formulario_left{
        font-size: 15px;
    }
    .ingreso .formulario_veh .formulario_left input{
        width: 130px;
        height: 20px;
    }
    .formulario_rigth{
        font-size: 15px;
    }
    .ingreso .formulario_veh .formulario_rigth input{
        width: 130px;
        height: 20px;
    }
    .ingreso .formulario_veh .left .formulario_left .combo_carros{
        width: 150px;
        height: 40px;
        font-size: 15px;
        margin-bottom: 40px;
    }
    .boton_guardar button{
        margin-top: 30px;
        margin-left: 200px;
    }
    .input_busqueda{
        background-color: green;
    }
    .combo .combo_busqueda {
        width: 150px;
        height: 40px;
        font-family: var(--letra_tablas);
        padding: 10px;
        font-size: 15px;
    }
} */