.logeo {
    background-color: var(--claro);
}

.logeo .logeo__nav {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.logeo .logeo__nav .logeo__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em; 
    box-sizing: border-box;
}

.logeo .logeo__nav .logeo__container .logo__logeo {
    display: flex;
    align-items: center;
}

.logeo .logeo__nav .logeo__container .logo__logeo img {
    width: 80px;
}

.logeo .logeo__nav .logeo__container .title__logeo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}

.logeo .logeo__nav .logeo__container .title__logeo h1 {
    color: var(--negro);
    font-family: var(--letras);
    font-weight: 500;
}

.boton__logeo a {
    padding: 15px 40px;
}

.boton__logeo  a {
    padding: 5px 10px;
    font-family: var(--letras);
    font-size: 15px;
    background-color: var(--oscuro2);
    color: var(--white);
    text-decoration: none;
}

.boton__logeo a:hover{
    transition: 1s;
    background-color: var(--clarote);
}