:root{
    --white: #fff;
    --oscuro: #253D24;
    --titulos: "Poetsen One", sans-serif;
    --claro: #54DC3F;
    --negro: black;
    --oscuro2: #1C5D17;
    --letras: "Poppins", sans-serif;
    --gris: #f3f2f2;
    --clarito: #AFF4A2;
    --gris_cambio: #ddd;
    --oscuro3: #052702;
    --clarote: #1D7615;
    --oscuro4: #1B4F18;
    --clarito2: #35C121;
    --border: 10px;
}