.botones__top {
    margin-top: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.botones__top .boton__vehiculo button{
    background-color: var(--clarito);
    padding: 3px 20px;
    font-family: var(--letras); 
    font-weight: 450;
    font-size: 18px;
    border: 2px solid var(--negro);
    border-radius: var(--border);
}
.botones__top .boton__registro__vehiculo a{
    background-color: var(--gris_cambio);
    padding: 3px 20px;
    font-family: var(--letras); 
    font-weight: 450;
    font-size: 18px;
    border: 2px solid var(--negro);
    border-radius: var(--border);
}
.botones__top .boton__rgistro__usuarios a{
    background-color: var(--gris_cambio);
    padding: 3px 20px;
    /* display: inline-block;
    width: 300px;
    height: 55px;
    text-align: center;
    line-height: 45px; */
    font-family: var(--letras); 
    font-weight: 450;
    font-size: 18px;
    border: 2px solid var(--negro);
    border-radius: var(--border);
}
.boton__ingresar__nuevo a{
    background-color: var(--clarote);
    padding: 3px 20px;
    font-family: var(--letras); 
    font-weight: 400;
    font-size: 18px;
    border: 2.5px solid transparent;
    border-radius: var(--border);
    margin-left: 190px;
    margin-top: 60px;
}